In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply
import seaborn as sns

In [4]:
chester_county = pd.read_csv('../data/chester_county.csv')

In [7]:
chester_county.

,Fact,Fact Note,"Chester County, Tennessee","Value Note for Chester County, Tennessee"
0,"Population estimates, July 1, 2023, (V2023)",NaN,NaN,NaN
1,"Population Estimates, July 1, 2022, (V2022)",NaN,"17,609",NaN
2,"Population estimates base, April 1, 2020, (V2023)",NaN,NaN,NaN
3,"Population estimates base, April 1, 2020, (V2022)",NaN,"17,348",NaN
4,"Population, percent change - April 1, 2020 (es...",NaN,NaN,NaN
...,...,...,...,...
83,FN,Footnote on this item in place of data,NaN,NaN
84,X,Not applicable,NaN,NaN
85,S,Suppressed; does not meet publication standards,NaN,NaN
86,NaN,Not available,NaN,NaN
87,Z,Value greater than zero but less than half uni...,NaN,NaN